.login-pages{
    padding-top: 110px;
}

.login-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.login-card .inner-login-card{
  display: flex;
  gap: 0 10px;
}
.login-card .forget-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

}
.login-pages .card{
 border: 1px solid transparent;
   box-shadow: 0 1px 10px rgb(151 164 175 / 10%);
}