.login-pages{
    padding-top: 110px;
}

.login-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.login-card .inner-login-card{
  display: flex;
  gap: 0 10px;
}