.register-pages{
  padding-top: 110px;
}

.register-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.register-card .inner-register-card {
  display: flex;
  gap: 0 5px;
}

.inner-register-card a {
  font-weight: 700;
}