*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* ------ spinner css ----- */
.spinner .spinner-rotation{
  animation: spinner 5s infinite;
}

@keyframes spinner {
  0% {transform: rotate(90deg);}
  100% {transform: rotate(180deg);}


}


/* ------- edit pages css ------ */
.contact-refer{
  padding-top: 110px;
}
.about-pages{
  padding-top: 110px;
  
}


.edit-pages{
    padding-top: 45px;
}
.user-image{

    display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
}
.user-image img{
  width: 100%;
  max-width: 180px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 100%;
}

/* ------ changes-password css ------- */


.change-password-pages{
  padding-top: 45px;
}
.change-password-btn{
   display:flex;
   align-items: center;
   justify-content:center;
   gap: 0 15px;
}

/* ----- wallet card css ------- */
.wallet-card{
 display:flex;
 align-items: center;
 justify-content:center;
 gap: 0 10px;
 cursor: pointer;

}
.wallet-icon{
  font-size: 22px;
  color: #0d6efd;
}
.wallet-card span{
  font-size: 16px;
  line-height: 0px;
  font-weight: 600;
  color: #0d6efd;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.invoice-table {
  border: 1px solid #0d6efd !important;
  border-radius: 10px;
}
.invoice-table td{
  border-bottom: #e7eaf3 !important;
}
.wallet-search-heading{
display: flex;
align-items: flex-end;
gap: 0 20px;
margin-bottom: 25px;
}
.wallet-search-heading .wallet-common-btn{
  font-size: 14px;
    line-height: 18px;
    padding: 5px 12px;
    font-weight: 400;
}
.main-table table thead tr th{
  font-size: 14px;
color: #333;
line-height: 18px;
padding: 10px 4px;
text-align: center; 
}
.main-table table thead tr th .sort-arrows img{
 width: 8px;
 height: 12px;
}
.main-table table thead{
  background-color: #ededed;
}
.add-money-btn{  
display: flex !important;
padding: 10px 10px !important;
width: 100%;
min-width: 120px;
font-size: 14px !important;
font-weight: 700 !important;
justify-content: space-between !important;
}
.add-money-btn svg{
  font-size: 22px;
}
