*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* ------ spinner css ----- */
.spinner .spinner-rotation{
  animation: spinner 5s infinite;
}

@keyframes spinner {
  0% {transform: rotate(90deg);}
  100% {transform: rotate(180deg);}


}


/* ------- edit pages css ------ */
.contact-refer{
  padding-top: 110px;
}
.about-pages{
  padding-top: 110px;
  
}


.edit-pages{
    padding-top: 45px;
}
.user-image{

    display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
}
.user-image img{
  width: 100%;
  max-width: 180px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #000;
  border-radius: 100%;
}

/* ------ changes-password css ------- */


.change-password-pages{
  padding-top: 45px;
}
.change-password-btn{
   display:flex;
   align-items: center;
   justify-content:center;
   gap: 0 15px;
}