.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main-form .bill-items {
    position: relative;
    /* max-width: calc(100% - 110px); */
    float: left;
}
.u-header__nav-link .down-icon{
    margin-bottom: auto;
    vertical-align: middle;
}

/* .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */

.main-form .bill-items li {
    width: 90.9px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.main-form .bill-items li.active a {
    background: #fff;
    color: #154abd;
}

.main-form .bill-items li a {
    text-align: center;
    background: #154abd;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
    outline: none;
    border: none;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.main-form .bill-items li a i {
    display: block;
    width: 100%;
    text-align: center;
}





/* ================================================================== */

.bg-secondary {
    background-color: #0c2f55 !important;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

/* ui changes */

/* .secondary-nav.nav.alternate {
    margin-bottom: 30px;
} */
/* .secondary-nav.nav.alternate.service-top-heading{
    display:flex;
    align-items: center;
    justify-content:center;
} */
.service-icons i{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
}
.service-iconsTitle{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.booing-list li .nav-link svg{
  font-size: 24px;
  margin-bottom: 6px;
  font-weight: 700;
}

.secondary-nav.nav {
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 8px;
}

/* .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
} */


.secondary-nav.nav.alternate .nav-item .nav-link.active {
    background-color: transparent;
    color: #0d6efd !important;
    /* border-bottom: 3px solid #0c2f55; */
}

.secondary-nav.nav .nav-item .nav-link.active {
    background: #fff;
    color: #0071cc;
    border-radius: 4px 4px 0px 0px;
}

.secondary-nav.nav .nav-item:first-child .nav-link {
    margin-left: 0px;
}

.secondary-nav.nav.alternate .nav-link {
    padding: 0.3rem 15px;
}

.secondary-nav.nav .nav-link {
    text-align: center;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0 10px;
    padding: 0.6rem 15px;
    color: #8298af;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-link {
    color: #0071cc;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.secondary-nav.nav .nav-link span {
    display: block;
    /* font-size: 30px;
    margin-bottom: 10px; */
}

/* ui-changes */

/* custom-tab */
.custom-serviceTabs ul li .nav-link{
    display:flex;
    align-items: baseline;
    background-color: transparent !important;
    color: #999 !important;
    width: 100% !important;
    height: auto !important;
    margin: 0px !important;
    border-radius: 5px 0px 0px 5px !important;
}
.custom-serviceTabs ul li .nav-link .service-icons{
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: unset;
}
.custom-serviceTabs ul li.nav-item{
    margin-bottom: 10px;
    cursor: pointer;
}

.custom-serviceTabs ul li .nav-link .service-icons svg{
    width: 25px;
    height: 25px;
}
.custom-serviceTabs .secondary-nav.nav.alternate li .tab-nav-link.active{
    background-color: #0d6efd !important;
    color: #fff !important;
}

.custom-serviceTabs .inner-sidebar-tabs{
    display: block;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: auto;
    min-height: 530px;
    max-height: 530px;

}

.secondary-nav.nav.alternate .nav-item .nav-link.active {
    background-color: transparent;
    color: #0d6efd;
    /* border-bottom: 3px solid #d1d1d1; */
}
.nav.secondary-nav.alternate .nav-item .nav-link{
    /* background-color: #2C74B3; */
    /* margin-bottom: 15px; */
    padding: 0px;
    /* background-color: #2C74B3; */
    width: 121px;
    height: 70px;
    color: #000;
    /* margin-bottom: 15px; */
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.nav.secondary-nav.alternate .nav-item .nav-link:hover{
 color: #fff;
}
.booing-list .nav-item{
    border: 1px solid  #2C74B3;
    border-radius: 12px;
}
.booing-list .nav-item:hover{
    background-color: #2C74B3;
}
.main-service-card .main-inner-card{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0px !important;
     scrollbar-width: 6px;
     gap: 0 10px;
    
    -webkit-scrollbar: 6px; 
    
}

.main-service-card .main-inner-card li{
    /* padding-bottom: 12px; */
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 12px;
    border: 1px solid #2C74B3;
}
.main-service-card .main-inner-card li:hover{
    background-color: #2C74B3;
    
}
.main-service-card {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
}

.secondary-nav.nav .nav-item .nav-link.active {
    background: #fff;
    color: #0071cc;
    border-radius: 4px 4px 0px 0px;
}
/* ui-changes */
.secondary-nav.nav .nav-link {
    text-align: center;
    font-size: 13px;
    font-size: 0.8125rem;
    margin: 0 6px;
    padding: 0.6rem 15px;
    color: #262728;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.bg-primary-light{
    background-color: #deeefe;
}
.sidebar_offer img{
    width: 100%;
    border-radius: 5px;
}

.slick-dots{
    bottom: 15px !important;
}

.nav-link {
    color: #0071cc;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a,
a:focus {
    color: #0071cc;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a {
    color: #0d6efd;
    text-decoration: underline;
}


.form-control:not(.form-control-sm) {
    padding: 10px;
    height: 38px;
    padding-right: 10px !important;
}

.form-select:not(.form-select-sm) {
    height: calc(3.05rem + 2px);
    min-height: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.form-control:not(.form-control-lg),
.form-select:not(.form-control-lg) {
    font-size: 15px;
}

.form-control,
.form-select {
    border-color: #d5d3d3;
    color: #777;
}
.form-select:invalid {
    color: #b1b4b6;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

select {
    word-wrap: normal;
}

.form-control:not(.form-control-lg),
.form-select:not(.form-control-lg) {
    font-size: 15px;
}

.view-plans-link {
    position: absolute;
    right: 0px;
    z-index: 4;
    padding: 0 15px;
    font-size: 13px;
    text-decoration: underline;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.btn {
    padding: 0.75rem 2.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.plans {
    max-height: 380px;
    overflow: hidden;
    overflow-y: auto;
}
.roffer-view-link{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 0 20px;
    
}
.roffer-view-link a:hover{
    text-decoration: underline;
font-weight: 700;
color: #000;

}


@media (min-width: 1400px){
 .container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    max-width: 1320px;
}
}
