@media (min-width:1299px) {
    .container{
        max-width: 1200px !important;
        padding: 0px  15px;
    }
}
@media (max-width:1366px){
    
}
@media (max-width:1200px){
    .u-header__section .navbar{
       padding: 0.5rem 5rem !important;
    } 
    .main-service-card .main-inner-card{
        justify-content: flex-start;
      }
}
@media (max-width:1024px){
    .u-header__section .navbar {
        padding: 0.5rem 3rem !important;
    }
    .navbar .u-header__navbar-collapse {
        justify-content: end;
    }
   
}
@media (max-width:991px){
    .u-header__section .navbar {
        padding: 0.5rem 1rem !important;
    }
    .userPlan{
        order: 2;
    }
    .user-offer-slide{
        order: 1;
        margin-bottom: 25px;
    }
}
@media (max-width:768px){
    .u-header__section .navbar{
        padding: 0.5rem 15px !important;
    }
    .login-pages .order{
        order: 2;
    }
    .login-pages .vector-img{
       margin-bottom: 30px;
    }
}
@media (max-width:567px){
    .login-card{
       align-items: flex-start !important;
       flex-direction: column;
    }
}
